@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');




.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #f4511e;
}
.carousel-indicators li {
  border-color: #f4511e;
}
.carousel-indicators li.active {
  background-color: #f4511e;
}



/* Services */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* Contact us */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.innerBanner {
  height: 350px;
  margin: 0 -40px;
  margin-bottom: 40px;
  padding: 0 40px;
  background: url("assets/innerBanner.jpg") center center no-repeat;
  background-size:auto;
  margin-bottom: 50px;

  
}
.innerBanner h1 {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 66px;
    line-height: normal;
    font-weight: normal;
    padding-top: 145px;
    padding-left: 60px;
    margin-bottom: 50px;
}

/* contact-form */
.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 10px;
  height: 120vh;
}

.contact-form {
  max-width: 700px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 20px #00000010;
  padding: 25px 30px;
  margin-top: 120px;
  margin-bottom: 200px;
  border-radius: 5px;
}

.contact-form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.contact-form .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: black;
}

.contact-form form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .user-details .input-box {
  margin: 12px 0 12px 0;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box input, textarea {
  height: 40px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus, textarea:focus,
.user-details .input-box input:valid, textarea:valid {
  border-color: #9b59b6;
}

.input-box textarea {
  width: 100%;
  height: 200px;
}

.contact-form #status {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  /* max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto; */
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}

#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 153, 153);
  animation: status 4s ease forwards;
}
@keyframes status{
  0%{
    opacity: 1;
    pointer-events: all;
  }
  90%{
    opacity: 1;
    pointer-events: all;
  }
  100%{
    opacity: 0;
    pointer-events: none;
  }
}




form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}




@media (max-width: 443px){
  .innerBanner h1 {
    font-size: 40px;
    font-weight: bold;
    padding-top: 164px;
    padding-left: 46px;
    margin-bottom: 50px;
}
 .form-container{
  margin-top: 50px;
 }

}

@media (max-width: 584px) {
  .innerBanner{
    margin-bottom: 200px;
  }
  .form-container{
    max-width: 100%;

  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }


}

@media (max-width: 705px){
  .form-container{
    height: 195vh;
  }
  .innerBanner {
    margin-bottom: 50px;
  
    
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

 
}

/* custom css */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

/* Image deco */

#img_deco{
  opacity: 2.5;
}